<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.Database21ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\SONY\OneDrive\Pictures\Database21.accdb" providerName="System.Data.OleDb"/>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.Database21ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database21.accdb" providerName="System.Data.OleDb"/>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.ridaConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\SONY\OneDrive\Music\rida.accdb" providerName="System.Data.OleDb"/>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.roomsConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\SONY\Documents\rooms.accdb" providerName="System.Data.OleDb"/>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.Muscat_Residence_InnConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\SONY\Documents\Muscat Residence Inn.accdb&quot;" providerName="System.Data.OleDb"/>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.Muscat_Residence_InnConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\bin\Debug\Muscat Residence Inn.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="MUSCAT_RESIDENCE_INN.My.MySettings.Muscat_Residence_InnConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Muscat Residence Inn.mdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
